/* =============== COMMON CSS FOR WEB SITE =============== */

.Landing__8 {
    --header_color: #ffffff;
    --bg_color: #F0B54D;
    --bg_color2: #FFF7E3;
    --bg_color3: #F2371D;
    --bg_color4: #f22512;
    --text_color: #0D0F22;
    --white_color: #fff;
    --primary_text: #756BEE;
  }
  

  
  .Landing__8 {
    font-family: "Noto Sans Bengali", sans-serif ;
  }
  
  .Landing__8 h1 {
    font-weight: 700;
    font-size: 49px;
    line-height: 80px;
    margin-top: 40px;
    color: var(--text_color);
  }
  
  .Landing__8 h1 span {
    color: var(--bg_color);
    text-align: center;
  }
  
  .Landing__8 h2 {
    font-size: 44px;
    line-height: 60px;
    color: var(--text_color);
    text-align: center;
    font-weight: 600;
  }
  
  .Landing__8 h3 {
    font-size: 24px;
    line-height: 35px;
    color: var(--primary_text);
    font-weight: 600;
    text-align: center;
  }
  
  .Landing__8 .Title h2 {
    line-height: 70px;
  }
  .Landing__8 .Title p {
    color: var(--primary_text);
    font-size: 28px;
    line-height: 50px;
    text-align: center;
  }
  
  .Landing__8 h4 {
    margin-top: 30px;
    font-weight: 600;
    font-size: 32px;
  }
  .Landing__8 h4 span {
    text-decoration: line-through;
    color: var(--bg_color3);
  }
  
  .Landing__8 h5 {
    font-size: 24px;
    line-height: 20px;
    color: var(--primary_text);
    font-weight: 600;
  }
  
  .Landing__8 h6 {
    font-size: 21px;
    line-height: 28px;
    color: var(--bg_color3);
    font-weight: 700;
  }
  
  .Landing__8 p {
    color: #5b5858;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
  }
  
  .Landing__8 a {
    transition: 0.5s;
    display: block;
    font-size: 20px;
    line-height: 35px;
    font-weight: 600;
  }
  
  .Landing__8 a.bg {
    margin-top: 30px;
    padding: 12px 50px;
    padding-top: 15px;
    color: #ffffff;
    background: var(--primary_text);
    background-size: 200% auto;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0px 43.4259px 46.8519px rgba(117, 107, 238, 0.1931), 
    0px 25.8074px 25.4815px rgba(117, 107, 238, 0.0425185), 
    0px 13.4px 13px rgba(117, 107, 238, 0.035), 
    0px 5.45926px 6.51852px rgba(117, 107, 238, 0.0274815), 
    0px 1.24074px 3.14815px rgba(117, 107, 238, 0.0168519);
  }
  
  .Landing__8 .headerTitle {
    position: relative;
    z-index: 5;
    margin-bottom: 40px;
  }
  
  .Landing__8 a.bg:hover {
    transform: scale(1.02);
  }
  
  .Landing__8 a svg {
    font-size: 25px;
    margin-top: -5px;
    margin-right: 10px;
  }
  
  .Landing__8 .hLine {
    margin-top: 10px;
    height: 2px;
    width: 300px;
    background: var(--primary_text);
  }
  
  .Landing__8 a.bg:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .Landing__8 .section_gaps {
    margin-top: 50px;
  }
  .Landing__8 .LogoDiv {
    display: flex;
    justify-content: center;
  }
  
  .Landing__8 .btnBox {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
  }
  
  .Landing__8 .text h2 {
    color: var(--text_color);
    margin-top: 40px;
    font-size: 44px;
    position: relative;
    z-index: 5;
  }
  
  .Landing__8 .text h5 {
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
    position: relative;
    z-index: 5;
  }

  .Landing__8 .LeftImage, .RightImage{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
  }

  .Landing__8 .LeftImage{
    left: 0;
    justify-content: left;
  }

  .Landing__8 .RightImage{
    right: 0;
    justify-content: right;
  }
  
  

  /* =====================================================================
  Banner Section   
  ======================================================================== */

  .Landing__8 .Banner{
    position: relative;
    padding: 80px 0;
    overflow: hidden;

  }

  .Landing__8 .Banner .img_center{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .Landing__8 .Banner .img_center img{
    width: 100%;
    animation: grow 4s linear infinite;
    
  }
  .Landing__8 .Banner .img_right{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;

  }
  .Landing__8 .Banner .img_right img{
    width: 100%;
    height: 100%;
  }

  .Landing__8 .Banner .img_bottom_right{
    position: absolute;
    bottom: 12%;
    right: 20%;
    display: flex;
    justify-content: flex-end;

  }
  .Landing__8 .Banner .img_bottom_right img{
    width: 100%;
    animation: circle 4s linear infinite;
  }

  @keyframes circle {

    0% {
        transform: rotate(0deg);
      }
      30% {
        transform: rotate(90deg);
      }
      60%{
        transform: rotate(90deg);
      }
      100% {
        transform: rotate(180deg);
      }
    
  }

  @keyframes grow {

    0% {
        transform: scale(0.7);
      }
      30% {
        transform: scale(1);
      }
      60%{
        transform: scale(1) rotate(90deg);
      }
      100% {
        transform: scale(0.7) rotate(0deg);
      }
    
  }

  .Landing__8 .Banner .textBox{
    display: flex;
    margin-top: 40px;
  }
  .Landing__8 .Banner .textBox h2{
    text-align: left;
    margin-top: 10px;
    font-size: 39px;
  }

  .Landing__8 .Banner .textBox .textCircle{
    margin: 0 10px;
    position: relative;
  }
  

  .Landing__8 .Banner .textBox .textCircle img{
    width: 100%;
  }

  .Landing__8 .Banner .textBox .textCircle h2{
    position: absolute;
    top: 0px;
    left: 20px;
    color: var(--bg_color3);
  }

  .Landing__8 .Banner  .bannerBG{
    position: relative;
    
  }


  .Landing__8 .Banner  .bannerBG img.wallet{

    position: absolute;
    top: 60px;
    left:60px;
    animation: MoveUpDown 3s infinite;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      top: 60px;
    }
    50% {
      top:20px;
    }
  }
  .Landing__8 .Banner .btnBox{
    justify-content: start;
    margin-top: 0;
  }
  .Landing__8 .Banner .btnBox a.bg{
    margin-top: 0;
  }

  .Landing__8 .Banner .btnBox h2{
    margin: auto 20px;
    color: var(--bg_color3);
  }

   /* =================== WhyUs Section   ==================================================
    ======================================================================================= */

  .Landing__8 .WhyUs{
    padding: 60px 0;
    background: #FFF9E7;
    position: relative;
    overflow-x: hidden;
  }

  .Landing__8 .WhyUs .text {
    position: relative;
    z-index: 5;

  }

  .Landing__8 .WhyUs .text p{
    font-size: 22px;
    line-height: 45px;

  }

  .Landing__8 .WhyUs .LeftImage{
    left: -100px;
    display: flex;
    justify-content: flex-start;
  }

  .Landing__8 .WhyUs .LeftImage img{
    width: 100%;
  }

  .Landing__8 .WhyUs .RightImage{
    right: -100px;
  }

    /* =================== Wallets Section   ==================================================
  ======================================================================================= */

  .Landing__8 .Wallets{
    padding: 40px 0;
    position: relative;
    overflow: hidden;
  }

  .Landing__8 .Wallets .Image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Landing__8 .Wallets img {
    width: 100%;
    transition: all 0.4s ease-in-out;
  }

  .Landing__8 .Wallets  .Image:hover img{
    transform: translateY(-20px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .Landing__8 .Wallets .RightImage{
    right: 0px;
    top:110%;
  }

   /* =================== Specification Section   ==================================================
  ======================================================================================= */
  

  .Landing__8 .Specification{
    padding: 60px 0;
    position: relative;
    background: #FFF9E7;
  }

  .Landing__8 .Specification h1{
    text-align: center;

  }

  .Landing__8 .Specification h1 span{
    color: var(--primary_text);

  }
  
  .Landing__8 .Specification .IconBox{
    background: #fff;
    height:320px;
    padding: 55px;
    padding-bottom: 20px;
    margin: 30px;
    border-radius: 40px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 5;
    overflow: hidden;

  }

  .Landing__8 .Specification .IconBox::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 0%;
    transform: rotate(-45deg) translateX(-50%);
    transform-origin: top left;
    background: #F8CD53;
    z-index: -1;
    transition: height 0.8s ease;
  }

  .Landing__8 .Specification .IconBox:hover::after{
      height: 200%;
      transform: rotate(-45deg) translateX(-50%);
      color: #fff;
   
  }

  .Landing__8 .Specification .IconBox .icon{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9E7;
    
  }

  .Landing__8 .Specification .IconBox .icon svg{
    margin: 0 auto;
    font-size: 40px;
    color: #F8CD53;
  }

  .Landing__8 .Specification .LeftImage{
    top: 10%;
    left: 15%;
  }

  .Landing__8 .Specification .LeftImage2{
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .Landing__8 .Specification .RightImage{
    top:100%;
  }

  /* =================== PhoneSection  ==================================================
  ======================================================================================= */

  .Landing__8 .PhoneSection{
    padding: 40px 0;
  }

  .Landing__8 .PhoneSection .text h2{
    font-size: 35px;
    color: var(--bg_color3);
  }

  .Landing__8 .PhoneSection .text h5{
    color: #0D0F22;
  }

    /* =================== PhoneSection  ==================================================
  ======================================================================================= */

  .Landing__8 .Info{
    padding: 40px 0;
  }

  .Landing__8 .Info .icon{
    display: flex;
    justify-content: center;
  }

  .Landing__8 .Info .text{
    text-align: center;
  }

      /* =================== OrderBtn  ==================================================
  ======================================================================================= */

  .Landing__8 .OrderBtn{
    position: relative;
    /* background: #F8CD53; */
    overflow: hidden;
  }

  .Landing__8 .OrderBtn .DisplayBox{
    border-radius: 20px;
    padding: 60px 0;
    position: relative;
    text-align: center;
    background: #F8CD53;
    overflow: hidden;
  }

  .Landing__8 .OrderBtn .DisplayBox h2{
    font-size: 36px;
    margin-top: 20px;
  }

  .Landing__8 .OrderBtn .DisplayBox .RightImage img{
    transform: rotateY(180deg);
    width: auto;
    height: 100%;
  }


  .Landing__8 #OrderConfirmRight button {
    width: 100%;
    background: var(--primary_text);
}

.Landing__8 #OrderConfirmLeft #Payment #ArrowBg::after {

  border-bottom: solid 15px var(--primary_text);

}

.Landing__8 #OrderConfirmLeft #Payment #ArrowBg {
  background: #756bee;
}

.Landing__8 #OrderConfirmLeft #Payment #CustomeInput input:checked+label:before {
  background: #756bee;
}

.Landing__8 #OrderConfirmLeft #Payment #ArrowBg p {
  font-size: 18px;
}

.Landing__8 #OrderConfirmLeft #Payment #ArrowBg {
  padding: 10px 30px;
  border-radius: 0 0 10px 10px;
}



    /* =================== FooterWidget  ==================================================
  ======================================================================================= */

  .Landing__8 #tinyFooter p a {
    color: #F8CD53;
}


  .Landing__8 .FooterWidget{
    padding: 20px 0;
    position: relative;
  }

  .Landing__8 .FooterWidget .footerMenu h5{

    color: var(--text_color);
    margin: 20px 0;

  }

  .Landing__8 .FooterWidget .footerMenu h2{
    font-size: 30px;
    color: var(--bg_color3);
  }

  .Landing__8 .FooterWidget .footerMenu a{
    color: #939399;
  }

  

  .Landing__8 .FooterWidget .footerMenu a svg{
    color: var(--text_color);
  }

  .Landing__8 .F .socialBox{
    display: flex;
    justify-content: flex-start;
  }

  .Landing__8 .FooterWidget .social a{
    color: var(--text_color);

  }

  .Landing__8 .FooterWidget ul.social li{
    display: inline-block;

  }

  .Landing__8 .FooterWidget ul.social li svg{
    font-size: 42px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
    
  }
  .Landing__8 .FooterWidget ul.social li:hover svg{
    border: 1px solid #F0B54D;

  }

  .Landing__8 .FooterWidget p{
    font-size: 16px;
  }


  .Landing__8 .socialBox{
    padding-top: 20px;
    padding-bottom: 10px;
  }

/* other-- */





/* =======================Big Laptop Display================= 

==========================================================*/


@media (max-width: 1440px) {

  .Landing__8 h1 {
    font-size: 40px ;
    line-height: 60px; 
}

.Landing__8 .textBox h2 {
  text-align: left;
  margin-top: 10px;
  font-size: 28px !important;
}

.Landing__8 .Banner  .textBox .textCircle h2{
  left: 40px;
}

.Landing__8 h4 {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
}

.Landing__8 .tiny-footer_tinyFooter__Tr3b1 p {
  line-height: 10px;
  text-align: center;
}

}


/* =======================Small Laptop Display================= 

==========================================================*/

@media (max-width: 1200px) {

 

  .Landing__8 h1 span {
    
    line-height: 30px;
  }

  .Landing__8 h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .Landing__8 h2 span {   
    margin-right: 5px;
  }

  .Landing__8 h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .Landing__8 h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .Landing__8 h5 {
    font-size: 16px;
  }

  .Landing__8 .text h5 {
    margin-top: 20px;
    line-height: 26px;
  }

  .Landing__8 p {
    font-size: 14px;
    line-height: 22px;
  }
  .Landing__8 a.bg {
    margin-top: 20px;
    padding: 15px 40px;
  }

  .Landing__8 a {
    font-size: 18px;
  }

  .Landing__8 a svg {
    font-size: 20px;
  }

  .Landing__8 .Logo {
    display: flex;
    justify-content: center;
  }

  .Landing__8 .Logo img {
    width: 50%;
  }

  .Landing__8 .text h2 {
    font-size: 22px;
    margin-top: 15px;
  }

  .Landing__8 .Banner  .bannerBG img.backgroundOne {
    width: 85%;
  }

  .Landing__8 .Banner  .bannerBG img.wallet {
    left: 30px;
    width: 70%;
  }

  .Landing__8 .Banner  .textBox .textCircle{
    width: 100px;
  }

  .Landing__8 .Banner  .textBox .textCircle img{
    width: 100%;
  }

  .Landing__8 .OrderBtn .DisplayBox {
    padding: 30px 0;
    
  }

  .Landing__8 .OrderBtn .DisplayBox h1{
    margin-top: 20px;
  }

  .Landing__8 .OrderBtn .DisplayBox h2{
    font-size: 24px;
    margin-top: 20px;
  }

  .Landing__8 .WhyUs .text p {
    font-size: 18px;
    line-height: 36px;
  }

  .Landing__8 .Specification {
    padding: 40px 0;
  }

  .Landing__8 .Specification .IconBox {
    background: #fff;
    height: 210px;
    padding: 22px;
    padding-bottom: 15px;
    margin: 10px;
  } 

  .Landing__8 .Specification .IconBox .icon{
    width: 70px;
    height: 70px;
  }

  .Landing__8 .Specification h1 {
    font-size: 34px;
    line-height: 40px;
  }

  .Landing__8 .Specification .LeftImage{
    top: 5%;
    left: 5%;
  }

  .Landing__8 .PhoneSection{
    padding: 20px 0;
  }

  .Landing__8 .Info{
    padding: 10px 0;
  }

  .Landing__8 .FooterWidget .footerMenu h2{
    margin-top: 30px;
    font-size: 32px;
  }
  
/* Ibrahim Change */
.Landing__8 h1 {
  font-size: 32px;
  line-height: 50px;
}

.Landing__8 .Banner  .textBox .textCircle h2{
  left: 20px;
}

 .Landing__8 .textBox h2{
  font-size: 25px !important;

}






}

@media (max-width: 992px) {

  .Landing__8 .FooterWidget .socialBox{
    display: flex;
    justify-content: center;
  }

  .Landing__8 .Banner .bannerBG{
    display: flex;
    justify-content: center;
  }
  .Landing__8 .Banner .bannerBG img.backgroundOne {
    width: 75%;
  }

  .Landing__8 .Banner .bannerBG img.wallet {
    left: 20%;
    width: 60%;
  }

  .Landing__8 .FooterWidget{
    text-align: center;
  }


  .Landing__8 .footerMenu h2{
    font-size: 24px !important;
  }

}

  
 /* ***********************************----------------------------------------------------------------------------------------
    Tablet RESPONSIVE PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {

  .Landing__8 h1 {
    font-size: 34px;
    line-height: 45px;
  }

  .Landing__8 h1 span {
    
    line-height: 30px;
  }

  .Landing__8 h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .Landing__8 h2 span {   
    margin-right: 5px;
  }

  .Landing__8 h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .Landing__8 h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .Landing__8 h5 {
    font-size: 16px;
  }

  .Landing__8 .text h5 {
    margin-top: 20px;
    line-height: 26px;
  }

  .Landing__8 p {
    font-size: 14px;
    line-height: 22px;
  }
  .Landing__8 a.bg {
    margin-top: 20px;
    padding: 15px 40px;
  }

  .Landing__8 a {
    font-size: 18px;
  }

  .Landing__8 a svg {
    font-size: 20px;
  }

  .Landing__8 .Logo {
    display: flex;
    justify-content: center;
  }

  .Landing__8 .Logo img {
    width: 50%;
  }

  .Landing__8 .text h2 {
    font-size: 22px;
    margin-top: 15px;
  }

  .Landing__8 .Banner{
    padding: 40px 0;
  }

  .Landing__8 .Banner .btnBox { 
    margin-top: 30px;
  }

  .Landing__8 .Banner .img_center img {
    width: 60%;
  }

  .Landing__8 .Banner  .textBox .textCircle{
    width: 100px;
  }

  .Landing__8 .Banner  .textBox .textCircle img{
    width: 100%;
  }

  .Landing__8 .Banner  .bannerBG {
    display: flex;
    justify-content: center;
  }

  .Landing__8 .Banner .btnBox h2 {
    margin-top: 15px;
  
  }

  .Landing__8 .Banner  .bannerBG img.backgroundOne {
    width: 75%;
  }

  .Landing__8 .Banner  .bannerBG img.wallet {
    left: 30px;
    width: 65%;
  }

  .Landing__8 .Banner  .textBox {
    display: flex;
    margin-top: 20px;
  }

  .Landing__8 .Banner  .bannerBG img.wallet {
    left: 24%;
    width: 55%;
  }
  
  .Landing__8 .WhyUs.text p {
    font-size: 16px;
    line-height: 35px;
  }

  .Landing__8 .Specification {
    padding: 40px 0;
  }

  .Landing__8 .Specification .IconBox {
    background: #fff;
    height: 210px;
    padding: 30px;
    padding-bottom: 15px;
    margin: 10px;
  } 

  .Landing__8 .Specification .IconBox .icon{
    width: 70px;
    height: 70px;
  }

  .Landing__8 .Specification h1 {
    font-size: 34px;
    line-height: 40px;
  }

  .Landing__8 .Specification .LeftImage{
    top: 5%;
    left: 5%;
  }

  .Landing__8 .Info {
    padding: 0;
  }

  .Landing__8 .OrderBtn .DisplayBox {
    padding: 40px 0;
  }

  .Landing__8 .OrderBtn .DisplayBox .LeftImage img, .Landing__8 .OrderBtn .DisplayBox .RightImage img{
    width: 70%;
  }
  .Landing__8 .OrderBtn .DisplayBox h1 {
    font-size: 26px;
  }

  .Landing__8 .OrderBtn .DisplayBox h2 {
    margin-top: 30px;
    font-size: 22px;
  }
  .Landing__8 .FooterWidget .footerMenu h2 {
    font-size: 32px;
    margin-top: 20px;
  }

  .Landing__8 .FooterWidget ul.social li{
    display: inline-block;
    margin: 0 auto;

  }

  .Landing__8 .FooterWidget .socialBox{
    display: flex;
    justify-content: center;
  }
  .Landing__8 .FooterWidget p{
    text-align: center;
  }

 



}






/* ***********************************----------------------------------------------------------------------------------------
    Mobile RESPONSIVE PART
--------------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 575px) {


  .Landing__8 h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .Landing__8 h2 span {
    
    margin-right: 5px;
  }

  .Landing__8 h3 {
    font-size: 20px;
    line-height: 30px;
  }

  .Landing__8 h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .Landing__8 h5 {
    font-size: 16px;
  }

  .Landing__8 .text h5 {
    margin-top: 20px;
    line-height: 26px;
  }

  .Landing__8 p {
    font-size: 14px;
    line-height: 22px;
  }
  .Landing__8 a.bg {
    margin-top: 20px;
    padding: 12px 20px;
  }

  .Landing__8 a {
    font-size: 16px;
  }

  .Landing__8 a svg {
    font-size: 20px;
  }

  .Landing__8 .Logo {
    display: flex;
    justify-content: center;
  }

  .Landing__8 .Logo img {
    width: 50%;
  }

  .Landing__8 .text h2 {
    font-size: 22px;
    margin-top: 15px;
  }

  .Landing__8 .headerTitle {

    margin-bottom: 20px;
  }

  


  /* ============Banner Section============ */

  .Landing__8 .Banner { 
    padding: 40px 0;
  }

  .Landing__8 .Banner .Landing__8 .textBox .textCircle{
    display: flex;
    justify-content: center;
    margin: 0 5px;
  }
  .Landing__8 .Banner .img_center img {
    width: 80%;
  }

  .Landing__8 .Banner .Landing__8 .textBox .textCircle img{
    width: 80%;
    margin-top: 10px;
  }
  .Landing__8 .Banner .Landing__8 .textBox .textCircle h2{
    left: 25px;
  }

  .Landing__8 .Banner .Landing__8 .textBox h2{
    font-size: 18px;
  }

  .Landing__8 .Banner .Landing__8 .bannerBG img.backgroundOne {
    width: 95%;
  }

  .Landing__8 .Banner .Landing__8 .bannerBG img.wallet {
    left: 30px;
    width: 85%;
  }

  .Landing__8 .Banner .btnBox h2 {
    margin: 0 10px;
    margin-top: 10px;
    font-size: 17px;
  }

  .Landing__8 .Banner .btnBox{
    margin-top: 30px;
  }

  .Landing__8 .Banner .img_bottom_right {
    bottom: 7%;
    right: 10%;
  }

  .Landing__8 .Banner .Landing__8 .textBox {
    margin-top: 10px;
    margin-bottom: 20px;
  }

   /* ============WhyUs Section============ */
  .Landing__8 .WhyUs {
    padding: 40px 0;
  }

  .Landing__8 .WhyUs .text p {
    font-size: 16px;
    line-height: 35px;
  }

  .Landing__8 .WhyUs .LeftImage img, .Landing__8 .WhyUs .RightImage img  {
    width: 50%;
  }

  .Landing__8 .WhyUs .LeftImage{
    left: -60px;
  }

  .Landing__8 .WhyUs .RightImage{
    right: -60px;
  }


  /* ============== wallets ================ */

  .Landing__8 .Wallets {
    padding: 30px 0 ;
  }

  .Landing__8 .Wallets .RightImage img {
    width: 60%;
  }

  /* ============== Specification ================ */

  .Landing__8 .Specification {
    padding: 30px 0;
  }

  .Landing__8 .Specification h1 {
    line-height: 34px;
  }

  .Landing__8 .Specification .LeftImage {
    top: 8%;
    left: 6%;
  }

  .Landing__8 .Specification .LeftImage img{
    width: 60%;
  }

  .Landing__8 .Specification .IconBox {
 
    height: 200px;
    padding: 20px;
    padding-bottom: 20px;
    margin: 10px;
    position: relative;
    z-index: 5;
  }
  .Landing__8 .Specification .IconBox .icon {
    width: 70px;
    height: 70px;
    
  }

  .Landing__8 .PhoneSection {
    padding: 0;
    padding-bottom: 10px;
  }

  .Landing__8 .Info {
    padding: 0;
  }

  .Landing__8 .Info .icon img{
    width: 90%;
  }

  .Landing__8 .Info h4 {

    font-size: 12px;
    line-height: 20px;
  }

  .Landing__8 .OrderBtn .DisplayBox {
    padding: 30px
    
  }

  .Landing__8 .OrderBtn .DisplayBox h1 {
    font-size: 24px;
  }

  .Landing__8 .OrderBtn .DisplayBox h2 {
    margin-top: 20px;
    font-size: 15px;
  }

  .Landing__8 .OrderBtn .DisplayBox .LeftImage img, .Landing__8 .OrderBtn .DisplayBox .RightImage img{
    width: 70%;
  }

  .Landing__8 .FooterWidget .footerMenu h2 {
    font-size: 32px;
    margin-top: 20px;
  }

  .Landing__8 .FooterWidget ul.social li{
    display: inline-block;
    margin: 0 auto;
  }

  .Landing__8 .FooterWidget .Landing__8 .socialBox{
    display: flex;
    justify-content: center;
  }

  /* Ibrahim  Change-- */

  .Landing__8 h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .Landing__8 h1 span {
    line-height: 30px;
  }

  .Landing__8 .PhoneSection .text h2{
    font-size: 22px;
    color: var(--bg_color3);
  }

  .Landing__8 .textBox h2{
    font-size: 18px !important;
  }

  .footerMenu h2{
    font-size: 22px !important;
  }

  .landing_eleven h1 {
    font-size: 22px;
    line-height: 40px;
}

.DisplayBox h1 {
  font-size: 22px !important;
}

.RightImage  img{
    width: 30px;
}





}

@media (max-width: 420px) {

.Landing__8 h1 {
    font-size: 22px ;
    line-height: 30px; 
}

.Landing__8 .textBox h2 {
  text-align: left;
  margin-top: 10px;
  font-size: 18px !important;
}

.Landing__8 .Banner  .textBox .textCircle h2{
  left: 30px;
}

.Landing__8 a {
  font-size: 12px;
  line-height: 40px;

}

.Landing__8 a.bg {
  margin-top: 30px;
  padding: 0px 10px;

}

.Landing__8 a svg {
  font-size: 18px;
  margin-top: -5px;
  margin-right: 5px;
}

}

