/* =============== COMMON CSS FOR WEB SITE =============== */

.Landing__2 {
    --bg_color: #E98B23;
    --bg_color2: #263476;
    --bg_color3: #DE5478;
    --bg_color4: #F8406F;
    --header: #332729;
    --text_color: #828282;
    --white: #FFF;
    --sari_bg : #EC3361;
    --probashi_bg : #FF0034;
}


.Landing__2 {
    
    overflow-x: hidden;
}

.Landing__2 a {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: inline-block;
    transition: all linear .2s;
}

 .Landing__2 .overlay_text h5 {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    text-transform: capitalize;
}

.Landing__2 .overlay_text h5 span {
    font-family: 'Niconne', cursive;
}


.Landing__2 h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-transform: capitalize;
}

.Landing__2 .StudentPackage h2 {
    color: var(--bg_color4);
}

.Landing__2 h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-transform: capitalize;
}

.Landing__2 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--text_color);
}

.Landing__2 .d_flex {
    display: flex;
    align-items: center;
}

.Landing__2 .d_justify {
    justify-content: space-between;
}

.Landing__2 .d_center {
    justify-content: center;
}

.Landing__2 .section_gaps {
    padding-top: 100px;
}



.Landing__2 .Header {
    margin-bottom: 60px;
}

.Landing__2 .Header p {
    margin-top: 15px;
}



/* ================ a btn ============ */


.Landing__2 .CallForOrder a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    color: #F8406F;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: -5px;
    font-weight: 600;
    border: 1px solid #F8406F;
    line-height: 35px;
    padding-top: 14px;

}


.Landing__2 .CallForOrder a:hover {
    background: var(--bg_color4);
    color: var(--white);
    box-shadow: 0 0 10px #F8406F, 0 0 40px #F8406F, 0 0 80px #F8406F;
    transition-delay: 1s;
}


.Landing__2 .CallForOrder a span {
    position: absolute;
    display: block;
}

.Landing__2 .CallForOrder a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #F8406F);
}

.Landing__2 .CallForOrder a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

.Landing__2 .CallForOrder a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, #F8406F);
}

.Landing__2 .CallForOrder a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.Landing__2 .CallForOrder a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #F8406F);
}

.Landing__2 .CallForOrder a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.Landing__2 .CallForOrder a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #F8406F);
}

.Landing__2 .CallForOrder a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   ProbashiPackage 
--------------------------------------------------------------------------------------------------------------------------------------------------- */

.Landing__2 .ProbashiPackage{
    font-family: 'Noto Sans Bengali', sans-serif !important;
}

.Landing__2 .ProbashiPackage .Logo{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0;
    z-index: 9;
}

.Landing__2 .ProbashiPackage .Logo img{
    height: 70px;
}


/* Banner */
.Landing__2 .ProbashiPackage .Banner{
    position: relative;
}

.Landing__2 .ProbashiPackage .Banner .BannerOverlay img {
    width: 100%;
    height: 100vh;
}

.Landing__2 .ProbashiPackage .BannerContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 230px;
    justify-content: center;
}

.Landing__2 .ProbashiPackage .Banner h2 {
    color: var(--white);
    font-size: 45px;
    line-height: 55px;
}

.Landing__2 .ProbashiPackage .Banner h3{
    color: var(--white);
}

.Landing__2 .ProbashiPackage .Banner h1{
    font-size: 60px;
    line-height: 85px;
    color: var(--white);
    margin: 20px 0;
}

.Landing__2 .ProbashiPackage .OrderNow {
    margin-top: 30px;
}

.Landing__2 .ProbashiPackage .CallForOrder a {
    border: 1px solid var(--white);
    color: var(--white);
    font-size: 25px;
    line-height: 35px;
    padding-top: 14px;
}

.Landing__2 .ProbashiPackage .CallForOrder a:hover {
    background: var(--white);
    color: var(--probashi_bg);
    box-shadow: 0 0 10px #FFF, 0 0 40px #FFF, 0 0 80px #FFF;
}


/* CallForOrder */

.Landing__2 .ProbashiPackage .CallForOrder a span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #FFF);
}

.Landing__2 .ProbashiPackage .CallForOrder a span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #FFF);
}

.Landing__2 .ProbashiPackage .CallForOrder a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.Landing__2 .ProbashiPackage .CallForOrder a span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #FFF);
}

.Landing__2 .ProbashiPackage .CallForOrder a span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #FFF);
}

.Landing__2 .ProbashiPackage .BannerNumber{
    margin-left: 30px;
}

.Landing__2 .ProbashiPackage .BannerNumber a{
    background: var(--white);
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 15px 30px;
    color: var(--probashi_bg);
    font-size: 20px;
    line-height: 30px;
}

/* ProbashiImgSlider */
.ProbashiImgSliderItem img{
    width: 100%;
}

.Landing__2 .ProbashiPackage .swiper-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Landing__2 .ProbashiPackage .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--text_color);
    opacity: 1;
    transition: all linear .2s;
}

.Landing__2 .ProbashiPackage .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: var(--probashi_bg);
    width: 15px;
    height: 15px;
}

.Landing__2 .BannerItem img{
  width: 100%;
}


/* WhatHave */

.Landing__2 .ProbashiPackage .WhatHaveImg{
    position: relative;
}

.Landing__2 .ProbashiPackage .WhatHaveImg img{
    width: 100%;
}

.Landing__2 .ProbashiPackage .WhatHaveImg .Overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Landing__2 .ProbashiPackage .WhatHaveImg .Overlay h2 {
    margin-top: 15px;
    color: var(--probashi_bg);
    animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
}

.Landing__2 .ProbashiPackage .WhatHaveImg .Overlay h3{
    font-size: 20px;
    line-height: 30px;
    color: var(--probashi_bg);
    margin-top: 5px;
}

.Landing__2 .ProbashiPackage .WhatHavetext{
    text-align: center;
    color: var(--probashi_bg);
    margin-left: 30px;
}

.Landing__2 .ProbashiPackage .WhatHavetext ul{
    margin-top: 30px;
    text-align: left;
}

.Landing__2 .ProbashiPackage .WhatHavetext li{
    background: #FFEBF0;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Landing__2 .ProbashiPackage .WhatHavetext li img{
    height: 70px;
}

.Landing__2 .ProbashiPackage .WhatHavetext li .text{
    margin-left: 30px;
}


.Landing__2 .ProbashiPackage .SariAbout .CallForOrder a {
    border: 1px solid var(--probashi_bg);
    color: var(--probashi_bg);
    font-size: 25px;
    line-height: 35px;
    padding-top: 14px;
}

.Landing__2 .ProbashiPackage .SariAbout .CallForOrder a:hover {
    background: var(--probashi_bg);
    color: var(--white);
    box-shadow: 0 0 10px #FF0034, 0 0 40px #FF0034, 0 0 80px #FF0034;
}


/* SariAbout */

.Landing__2 .ProbashiPackage .SariAbout .CallForOrder a span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #FF0034);
}

.Landing__2 .ProbashiPackage .SariAbout .CallForOrder a span:nth-child(3) {
    background: linear-gradient(270deg, transparent, #FF0034);
}

.Landing__2 .ProbashiPackage .CallForOrder a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.Landing__2 .ProbashiPackage .SariAbout .CallForOrder a span:nth-child(2) {
    background: linear-gradient(180deg, transparent, #FF0034);
}

.Landing__2 .ProbashiPackage .SariAbout .CallForOrder a span:nth-child(4) {
    background: linear-gradient(360deg, transparent, #FF0034);
}

.Landing__2 .SariAboutText .CallForOrder{
    margin-top: 30px;
}

/* Order From */
.Landing__2 .SariPackage .OrderConfirmFrom {
    position: relative;
    background: #FEF5F7;
    padding: 0px 0;
    overflow: hidden;
}

.Landing__2 .SariPackage .OrderConfirmFromBg{
    background: none;
    padding: 0;    
}

.Landing__2 .SariPackage .OrderConfirmFrom .SariOrderLeft{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.Landing__2 .SariPackage .OrderConfirmFrom .SariOrderRight{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}



/* ===========================================================================================
       DelivaryContent 
============================================================================================*/


.Landing__2 .StudentPackage .DelivaryContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Landing__2 .StudentPackage .DelivaryItem{
    margin-right: 50px;
}

.Landing__2 .StudentPackage .DelivaryItem svg {
    font-size: 70px;
    line-height: 50px;
    color: #DE5074;
}

.Landing__2 .StudentPackage .DelivaryItem .text{
    margin-left: 20px;
}

.Landing__2 .StudentPackage .DelivaryItem h4{
    font-size: 20px;
    line-height: 30px;
    color: var(--header);
}

.Landing__2 .StudentPackage .DelivaryItem p{
    font-size: 15px;
    line-height: 20px;
}

/* =====================================================================================
                    Order
=========================================================================================*/


.Landing__2 #OrderConfirmLeft #Payment #ArrowBg {
    background:var(--bg_color4);
  }
  
  .Landing__2 #OrderConfirmRight button {
    background:var(--bg_color4);
  }
  
  .Landing__2 #OrderConfirmLeft #Payment #ArrowBg p {
    color: #ffffff;
  }
  .Landing__2 #OrderConfirmLeft #Payment #ArrowBg::after {
    border-bottom:15px solid  var(--bg_color4);
    } 
    
  .Landing__2 #OrderConfirmLeft #Payment #CustomeInput input:checked+label:before {
    background:var(--bg_color4);
  }

  .Landing__2 .SariOrderRight img{
    height: 500px;
  }

  
  .Landing__2 #tinyFooter p a {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: var(--bg_color4);
    padding: 0 5px;
}

.Landing__2 #OrderConfirmLeft #Payment #ArrowBg p {
    font-size: 18px;
  }
  
  .Landing__2 #OrderConfirmLeft #Payment #ArrowBg {
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
  }
  
  .Landing__2 .ProbashiPackage {
    font-family: 'Noto Sans Bengali', sans-serif !important;
    margin-top: -30px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------
   FollowUs 
--------------------------------------------------------------------------------------------------------------------------------------------------- */
.Landing__2 .FollowUs h2 {
    color: var(--bg_color4);
    text-align: center;
}


 .Landing__2 .SocialIcon a {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: #EDF4FF;
    margin: 0 20px;
    color: #337FFF;
}

 .Landing__2 .SocialIcon a:hover {
    border-radius: 50%;
}

.Landing__2 .SocialIcon a.instagram {
    background: #FAF5FC;
    color: #FA8F21;
}

.Landing__2 .SocialIcon a.youtube {
    background: #FFECE8;
    color: #FF3000;
}

.Landing__2 .SocialIcon a.whatsapp {
    background: #ECFFF5;
    color: #00D95F;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------
    Footer
--------------------------------------------------------------------------------------------------------------------------------------------------- */


.Landing__2 .Footer {
    background: linear-gradient(109.56deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 126.32%);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    margin: 0 30px;
    box-shadow: 0 0 10px 5px #2633762d;
}

.Landing__2 .FooterLogo {
    margin-right: 50px;
}

.Landing__2 .FooterLogo img {
    height: 80px;
}

.Landing__2 .FooterLogo p {
    color: var(--bg_color2);
    margin-top: 20px;
}

.Landing__2 .Footersection_gaps {
    padding-top: 60px;
}

.Landing__2 .FooterItem {
    margin-bottom: 10px;
}

.Landing__2 .FooterItem h4 {
    font-size: 20px;
    line-height: 30px;
    color: var(--bg_color2);
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 700;
}

.Landing__2 .FooterItem h4::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 80%;
    height: 2px;
    background: var(--bg_color2);
}

.Landing__2 .FooterItem a,
.FooterItem p {
    display: block;
    color: var(--bg_color2);
    font-size: 18px;
    line-height: 28px;
    margin-top: 5px;
}

.Landing__2 .FooterItem a:hover {
    color: var(--bg_color);
}

/* tineey Footer */

.Landing__2 .tiny-footer_tinyFooter__Tr3b1 {
    margin-top: 50px;
    line-height: 30px;
}

.Landing__2 .FooterItem{
    margin-left: 25%;
}

.Landing__2 .FooterLogo{
    margin-left: 25%;
}


/* ==================================================================================
        Medea Quari
====================================================================================*/

@media (max-width: 1780px) {

    .Landing__2 h1 {
        font-size: 70px;
        line-height: 80px;
    }

    .Landing__2 .CallForOrder a {
        padding: 10px 25px;
        font-size: 18px;
    }
    .Landing__2 .FooterItem a, .FooterItem p {
        font-size: 16px;
        line-height: 26px;
    }

    .Landing__2 h2 {
        font-size: 35px;
        line-height: 50px;
    }

    .Landing__2 .StudentPackage .WhyBuyItem h3 {
        font-size: 18px;
        line-height: 30px;
    }

    .Landing__2 .StudentPackage .BannerText h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .Landing__2 .StudentPackage .CallForOrder a {
        font-size: 20px;
        line-height: 30px;
    }


    .Landing__2 .StudentPackage .SliderOverlayItem img {
        height: 400px;
    }

    .Landing__2 .MainPage .PackageItem .text p {
        font-size: 15px;
        line-height: 24px;
    }


    .Landing__2 p {
        font-size: 15px;
        line-height: 24px;
    }

    .Landing__2 .StudentPackage .FooterLogo img {
        height: 70px;
    }

    .Landing__2 .ProbashiPackage .WhatHaveImg .Overlay h2 {
        font-size: 35px;
    }


    .Landing__2 .StudentPackage .WhyBuy .WhyBuyLeft img, .StudentPackage .WhyBuy .WhyBuyRight img {
        height: 130px;
    }


    .Landing__2 .StudentPackage .SliderOverlayItem img {
        height: 380px;
    }

    .Landing__2 .SocialIcon a {
        width: 70px;
        height: 70px;
        font-size: 30px;
    }

    .Landing__2 .Header {
        margin-bottom: 40px;
    }

    .Landing__2 .ProbashiPackage .BannerContent{
        margin-top: 130px;
    }


}



@media (max-width: 1439px) {


    .Landing__2 .Logo img {
        height: 40px;
    }

    .Landing__2 .MenuItem li a {
        padding: 0 12px;
    }

    .Landing__2 h1 {
        font-size: 65px;
        line-height: 75px;
    }

    .Landing__2 .MainPage .PackageItem .text p {
        font-size: 14px;
        line-height: 24px;
    }


    .Landing__2 .StudentPackage .WhyBuyItem img {
        height: 50px;
    }

    .Landing__2 .StudentPackage .WhyBuyItem h3 {
        font-size: 15px;
        line-height: 25px;
    }

    .Landing__2 .StudentPackage .Banner .BannerLeft1 img {
        height: 100px;
    }

    .Landing__2 .StudentPackage .Banner .BannerRight1 img {
        height: 100px;
    }

    .Landing__2 .StudentPackage .Banner .BannerLeft2 {
        bottom: 28px;
        left: 10px;
    }

    .Landing__2 .StudentPackage .Banner .BannerLeft2 img{
        height: 100px;
    }

    .Landing__2 .StudentPackage .Banner .BannerRight2 img {
        height: 100px;
    }

    .Landing__2 .StudentPackage .WhyBuy .WhyBuyLeft img, .StudentPackage .WhyBuy .WhyBuyRight img {
        height: 80px;
    }

    .Landing__2 .StudentPackage .WhyBuy .WhyBuyLeft {
        left: 0px;
        top: 150px;
    }

    .Landing__2 .StudentPackage .WhyBuy .WhyBuyRight {
        right: 0;
        top: 150px;
    }

    .Landing__2 .StudentPackage .SliderOverlayItem img {
        height: 290px;
    }

    .Landing__2 .CustomerReviewItem {
        padding: 20px 30px;
        padding-top: 70px;
    }

    .Landing__2 .CustomerReviewItem p {
        font-size: 14px;
        line-height: 24px;
    }

    .Landing__2 h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .Landing__2 .StudentPackage .BannerText h2 {
        font-size: 35px;
        line-height: 45px;
    }

    .Landing__2 .StudentPackage .SliderOverlay {
        padding-top: 40px;
    }

    .Landing__2 .StudentPackage .VideoItem div {
        height: 450px !important;
    }

    .Landing__2 .CustomerReviewItem .Quate i {
        font-size: 60px;
    }

    .Landing__2 .SocialIcon a {
        width: 60px;
        height: 60px;
        font-size: 25px;
    }

    .Landing__2 .FooterLogo img {
        height: 60px;
    }

   
    .Landing__2 h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .Landing__2 .section_gaps {
        padding-top: 80px;
    }

    .Landing__2 .BestGift .bg_img {
        height: 1000px;
        width: 100%;
    }

    .Landing__2 .ChocolateBox #price h1 {
        font-size: 55px;
        line-height: 65px;
    }

    .Landing__2 .ChocolateBox #customized {
        padding: 80px 0;
    }


    .Landing__2 .tiny-footer_tinyFooter__Tr3b1 p a {
        display: inline;
        font-size: 16px;
        font-weight: 600;
        color: #f8406f;
        padding: 0 5px;
    }

    .Landing__2 .tiny-footer_tinyFooter__Tr3b1 p a {
        line-height: 26px;
        text-align: center;
    }


    .Landing__2 .tiny-footer_tinyFooter__Tr3b1 p {
        line-height: 27px;
        text-align: center;
    }

    .Landing__2 .ProbashiPackage .Banner h1 {
        font-size: 50px;
        line-height: 60px;
        color: var(--white);
        margin: 20px 0;
    }

}


@media (max-width: 768px) {

 
    .Landing__2 .BannerItem {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .Landing__2 .BannerText {
        text-align: center;
        margin-bottom: 30px;
    }

    .MainPage .swiper-pagination-fraction {
        bottom: 35px;
        left: 0;
        width: 100%;
    }

    .Landing__2 .CustomerReviewItem .Quate {
        top: 15px;
        left: 15px;
    }

    .Landing__2 .CustomerReviewItem .img {
        width: 100px;
        height: 100px;
    }

    .Landing__2 .CustomerReviewItem .img img{
        width: 90px;
        height: 90px;
    }

    .Landing__2 .FooterContent {
        margin-top: 35px;
    }

    .Landing__2 .StudentPackage .StudentSlider img {
        height: 600px;
        object-fit: cover;
    }

    .Landing__2 .StudentPackage .SliderOverlayItem img {
        height: 260px;
    }

    .Landing__2 .BestGift .bg_img {
        height: 1390px;
    }


    .Landing__2 .StudentPackage .DelivaryItem {
        margin: 0px 15px;
        display: block;
        text-align: center;
    }

    .Landing__2 .DelivaryItem h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .Landing__2 .StudentPackage .DelivaryItem i {
        font-size: 50px;
    }

    .Landing__2 .StudentPackage .DelivaryItem .text {
        margin-left: 0;
    }

    .Landing__2 .StudentPackage .FooterLogo img {
        height: 40px;
    }

    .Landing__2 .FooterItem a, .FooterItem p {
        font-size: 13px;
        line-height: 26px;
    }

    .Landing__2 .StudentPackage .Banner .col-lg-6:first-child{
        order: 2;
    }

    .Landing__2 .StudentPackage .Banner .col-lg-6:last-child{
        order: 1;
    }

    .Landing__2 .StudentPackage .Banner {
        padding: 50px 0;
        position: relative;
    }

    .Landing__2 .StudentPackage .BannerImg {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .Landing__2 .StudentPackage .OrderNow {
        margin-top: 30px;
        justify-content: center;
    }

    .Landing__2 .StudentPackage .WhyBuyItem {
        padding: 20px;
        width: 30%;
        margin: 0 10px;
        margin-bottom: 20px;
    }

    .Landing__2 .StudentPackage .WhyBuyContent {
        justify-content: center;
    }

    .Landing__2 .FooterLogo {
        margin-right: 0;
    }

    .Landing__2 .StudentPackage .VideoItem div {
        width: 100% !important;
        height: 450px !important;
    }

    .Landing__2 .section_gaps {
        padding-top: 70px;
    }

    .Landing__2 .BestGift .BestGiftContent {
        padding: 70px 0;
    }

    .Landing__2 .CustomerReviewItem .Quate i {
        font-size: 60px;
    }


    .Landing__2 .ProbashiPackage .BannerText h2 {
        color: #ffffff;
    }

    .Landing__2 .ProbashiPackage .Banner h1 {
        color: #000;
    }

    .Landing__2 .ProbashiPackage .Banner h3 {
        color: #000;
    }

    .Landing__2 .ProbashiPackage .CallForOrder a{
        color: #000;
        border: 1px solid #000;
    }

    .Landing__2 .MainPage .Banner .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Landing__2 .MainPage  .swiper-pagination-fraction {
        bottom: 30px;
    }


    .Landing__2 .ProbashiPackage .Banner {
        padding: 0;
    }

    .Landing__2 .ProbashiPackage .Logo img {
        height: 50px;
    }

    .Landing__2 .ProbashiPackage .WhatHavetext {
        margin-top: 30px;
    }


    .Landing__2 .ChocolateBox #banner .banner_img {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .Landing__2 .ChocolateBox #banner .col-lg-6:last-child{
        order: 1;
    }

    .Landing__2 .ChocolateBox #banner .col-lg-6:first-child{
        order: 2;
    }

    .Landing__2 .ChocolateBox #banner .banner_content {
        text-align: center;
    }

    .Landing__2 .ChocolateBox .price_img img {
        width: 100%;
        height: 350px;
    }

    .Landing__2 .ChocolateBox #price h1 {
        font-size: 45px;
        line-height: 55px;
    }

    .Landing__2 .ChocolateBox #price h2 {
        margin: 5px 0;
    }

    .Landing__2 .ProbashiPackage .Banner h1 {
        color: #fff;
    }

    .Landing__2 .ProbashiPackage .Banner h3 {
        color: #fff;
    }

    .Landing__2 .ProbashiPackage .CallForOrder a {
        color: #fff;
        border: 1px solid #fff;
    }
    
    .Landing__2 .ProbashiPackage .Banner .BannerOverlay {
        position: relative;
        z-index: 0;
      }
      
      .Landing__2 .ProbashiPackage .Banner .BannerOverlay::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 0, 0, .5);
          opacity: .6;
          z-index: 3;
      }
   

    .Landing__2 .FooterItem{
        margin-left: 0%;
    }
    
    .Landing__2 .FooterLogo{
        margin-left: 0%;
    }



}


@media (max-width: 500px) {

   
    .Landing__2 .MainPage .Logo img {
        height: 40px;
    }

    .Landing__2 .MainPage .BannerItem .img {
        width: 100%;
        margin-bottom: 40px;
    }

    .Landing__2 .MainPage .Banner .swiper-pagination {
        bottom: 45px;
    }

    .Landing__2 h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .Landing__2 .FooterLogo img {
        height: 50px;
    }

    .Landing__2 .Footer {
        background: none;
        padding: 0;
        margin: 0 20px;
        box-shadow: none;
    }


    .Landing__2 .CallForOrder a {
        padding: 6px 12px;
        font-size: 14px;
    }


    .Landing__2 .StudentPackage .swiper-button-next, .StudentPackage .swiper-button-prev {
        width: 30px;
        height: 30px;
    }

    .Landing__2 .StudentPackage .swiper-button-next:after, .StudentPackage .swiper-button-prev:after {
        font-size: 13px;
    }

    .Landing__2 .StudentPackage h2 {
        font-size: 28px;
        line-height: 35px;
    }

    .Landing__2 .StudentPackage .SliderOverlayItem img {
        height: 280px;
    }

    .Landing__2 .StudentPackage .VideoItem div {
        width: 100% !important;
        height: 300px !important;
    }

    .Landing__2 .StudentPackage .VideoItem {
        padding: 15px;
    }

    .Landing__2 .StudentPackage h2 {
        font-size: 20px;
        line-height: 35px;
        text-align: center;
    }

    .Landing__2 .SariAboutText p {
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        margin-top: 15px;
    }

    .Landing__2 .SariAbout .CallForOrder {
        margin-top: 20px;
        text-align: center;
    }

    .Landing__2 .StudentPackage .WhyBuyItem {
        padding: 15px;
        width: 44%;
    }


    .Landing__2 .BestGift .bg_img {
        height: 1075px;
    }


    .Landing__2 .StudentPackage .DelivaryContent {
        display: block;
    }

    .Landing__2 .StudentPackage .DelivaryItem {
        margin-bottom: 30px;
    }

    .Landing__2 .SocialIcon a {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        line-height: 15px;
        margin: 0 10px;
    }

    .Landing__2 .StudentFooter{
        text-align: center;
    }

    .Landing__2 .StudentPackage .FooterLogo img {
        height: 50px;
    }

    .Landing__2 .StudentPackage .StudentFooter ul {
        text-align: center;
    }

    .Landing__2 .StudentFooter .col-lg-4:first-child{
        order: 2;
    }

    .Landing__2 .StudentFooter .col-lg-4:nth-child(2){
        order: 1;
    }
    
    .Landing__2 .StudentFooter .col-lg-4:nth-child(3){
        order: 3;
    }

    .Landing__2 .FooterItem a, .FooterItem p {
        font-size: 16px;
        line-height: 26px;
    }

    .Landing__2 .StudentPackage .FooterItem p{
        padding: 10px 0;
    }

    .Landing__2 .StudentPackage .StudentFooter {
        padding-bottom: 20px;
    }

    .Landing__2 .Logo img {
        height: 50px;
    }

    .Landing__2 .StudentPackage .BannerImg {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .Landing__2 .StudentPackage .Banner .BannerLeft1 img {
        height: 60px;
    }

    .Landing__2 .StudentPackage .Banner .BannerRight1 img {
        height: 70px;
    }

    .Landing__2 h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .Landing__2 .StudentPackage .BannerText h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .Landing__2 .StudentPackage .BannerText h4 {
        font-size: 25px;
        line-height: 35px;
    }

    .Landing__2 .StudentPackage .OrderNow {
        margin-top: 20px;
        display: block;
    }

    .Landing__2 .StudentPackage .Banner .BannerLeft2 img {
        height: 60px;
    }

    .Landing__2 .StudentPackage .Banner .BannerRight2 img {
        height: 65px;
    }

    .Landing__2 .StudentPackage .BannerNumber {
        margin-left: 0;
        margin-top: 20px;
    }

    .Landing__2 .StudentPackage .CallForOrder a {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 30px;
        padding-top: 12px;
    }

    .Landing__2 .StudentPackage .WhyBuy .WhyBuyLeft img, .StudentPackage .WhyBuy .WhyBuyRight img {
        height: 60px;
    }

    .Landing__2 .OrderConfirmFromBg {
        border-radius: 20px;
        padding: 20px;
    }

    .Landing__2 .ProbashiPackage .WhatHavetext li {
        padding: 15px;
        margin-bottom: 15px;
        text-align: center;
        display: block;
    }

    .Landing__2 .ProbashiPackage .WhatHavetext li .text {
        margin-left: 0;
        margin-top: 20px;
    }

    .Landing__2 .ProbashiPackage .WhatHavetext li p{
        word-break: break-all;
    }

    .Landing__2 .ProbashiPackage .BannerText h2 {
        font-size: 22px;
        line-height: 32px;
        color: #ffffff;
    }

    .Landing__2 .ProbashiPackage .Banner h1 {
        font-size: 40px;
        line-height: 50px;
        color: #ffffff;
        margin: 15px 0;
    }

    .Landing__2 .ProbashiPackage .Banner h3 {
        color: #ffffff;
    }

    .Landing__2 .ProbashiPackage .CallForOrder a{
        color: #ffffff;
        border: 1px solid #ffffff;
    }


    .Landing__2 .ProbashiPackage .WhatHavetext {
        margin-left: 0;
        margin-top: 30px;
    }


    .Landing__2 .StudentPackage .VideoItem div {
        height: 250px !important;
    }

    .Landing__2 .StudentPackage .StudentSlider img {
        height: 500px;
    }

    .Landing__2 .StudentPackage .SliderOverlayItem img {
        height: 200px;
    }


    .Landing__2 .ProbashiPackage .swiper-pagination {
        bottom: 0 !important;
    }

    .Landing__2 .ProbashiPackage .WhatHaveImg .Overlay {
        width: 100%;
    }

    .Landing__2 .ProbashiPackage .WhatHaveImg .Overlay h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .Landing__2 section#price.order {
        display: none;
    }

    .Landing__2 .ChocolateBox #customized {
        padding: 60px 0;
    }

    .Landing__2 .ChocolateBox .gallery .overlay_img {
        bottom: -40px;
    }

    .Landing__2 .ProbashiPackage .Banner .BannerOverlay img {
        width: 100%;
        height: 570px;
       object-fit: cover;
    }

    .Landing__2 .ProbashiPackage .BannerContent {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: auto;
    }

    .Landing__2 .ProbashiPackage .Banner h1 {
        font-size: 34px;
        line-height: 41px;
        color: #ffffff;
        margin: 15px 0;
    }


    .Landing__2 .ProbashiPackage .WhatHaveImg .Overlay h2 {
        font-size: 30px;
    }




}

