
/* =============== COMMON CSS FOR WEB SITE =============== */

.Landing__18 {
    font-family: 'Noto Serif Bengali', serif;
    list-style-type: none;
    overflow-x: hidden;
  }

.Landing__18 ul{
    padding: 0;
    list-style: none;
  }
  
  .Landing__18 h1{
      font-size: 48px;
      line-height: 75px;
      color:#1D4696;
      font-weight: 900;
      padding-top: 46px;
      padding-bottom: 35px;
  }

  .Landing__18 h2{
      font-size: 40px;
      line-height: 52px;
      color: #0B1B38;
      font-weight: 900;     
      text-align: center;
  }
  
  .Landing__18 p{
      color:#575757;
      font-size: 20px;
      line-height: 26px;
  }
  
  /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
           
  .Landing__18 .bg {
      transition: 0.5s;
      display: block;
      line-height: 35px;
      font-weight: 600;
      text-decoration: none;
     
  }
  
  .Landing__18 a.bg{
      padding: 24px 36px;
      color: #FFFFFF; 
      background-image: linear-gradient(to right,#FA3B61 0%, #1D4696 51%, #FA3B61 100%);
      background-size: 180% auto;
      display: inline-block;
      transition: .2s;
      font-weight: 600;
      border-radius: 10px;
      font-size: 24px;
    }

  
  .Landing__18 a.bg svg{
      font-size: 28px;
      margin-top: -5px;
      margin-right: 10px;
      color: #FFFFFF; 
  }
  
  .Landing__18 a.bg:hover {
      background-position: right center;
      color: #fff;
      text-decoration: none;
  }
   
  .Landing__18_section_gaps{
      padding-top: 100px;
  }
 

  /* ================================================================================================
            Banner
  ===================================================================================================*/

  .Landing__18__bg_div{
    background-image: url('../../public/images/landing-18/bg.png');
    padding: 50px 0px 250px 0px;
    background-size:cover;
}

.Landing__18__BannerTxt h1{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #1D4696 29%,
    #ff1361 67%,
    #FFBF0B 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: htf76uy2185 4s linear infinite;
  display: inline-block;
}

@keyframes htf76uy2185 {
  to {
    background-position: 200% center;
  }
}


.Landing__18__BannerTxt h4{
    font-size: 24px;
    color:#1D4696;
}

.Landing__18__BannerTxt h3{
    font-size: 48px;
    line-height: 74px;
    color:#FA3B61;
    font-weight: 900;
    padding-top: 35px;
    padding-bottom: 56px;
    
}
  
.Landing__18__RelText{
    position: relative;
    
}

.Landing__18__AbsB_Box{
    position: absolute;
    top:-80px;
    left: 300px;
    display: flex;
    border: 1px solid #1D4696;
    padding: 16px 20px;
    border-radius: 10px;
  }

.Landing__18__BannerTxt h5{
   font-size: 32px;
   color:#1D4696;
  }

 .Landing__18__AbsB_Box img{
    margin-right: 20px;
    width: 40px;
  
  }


/* Col--2 */

.Landing__18__Col_2Rel{
    position: relative;
}

.Landing__18__img1DisAbs{
    position: absolute;
    top:-110px;
    left:550px;
    width: 38%;
    z-index: 2;
}

.Landing__18__img2BagAbs{
    position: absolute;
    top:230px;
    left:100px;
    width: 105%;
}

.Landing__18__img1DisAbs{
  animation: Ibrahim25bfd 3s infinite linear alternate ;
}

@keyframes Ibrahim25bfd {
  0% {transform: rotate(-10deg);}
 100%{transform: rotate(10deg);}
} 

 /* ================================================================================================
          Shipping
  ===================================================================================================*/

  .Landing__18__ShippingDiv{
    margin-top: -50px;
    border-radius: 10px;
}



.Landing__18 #ShippingAddressItem p {
  color:#012A4A;
  margin-top: 10px 5px 5px 0px;
  font-weight: 600;
  padding: 8px;
}


.Landing__18 #ShippingAddressItem {
  background-color: #FFEBEF;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 250px;
  transition: .2s;
  border-radius: 5px;
}


.Landing__18 #ShippingAddressItem:hover {
    background-color:#1D4696;
    color:#fff !important;
}

.Landing__18 #ShippingAddressItem:hover p{
    
    color:#fff !important;
}


    /* ================================================================================================
            Requirement
  ===================================================================================================*/

  .Landing__18__RelImgDiv{
    position: relative;
  }

.Landing__18__ImgAbsR1{
  position: absolute;
  width: 140%;
  left:-200px;
  top:-100px;
}


.Landing__18__ImgAbsR2{
  animation: Ibrahim25htf 2s linear infinite alternate  ;
}

@keyframes Ibrahim25htf {
  0% {transform: rotate(0);}
 50%{transform: rotate(10deg);}
 100%{transform: rotate(-10deg);}
} 



.Landing__18__ImgAbsR2{
  position: absolute;
  width: 65%; 
  left:-30px;
  top:150px;
}

.Landing__18__ReqTxt h2{
  padding-bottom: 40px;
  text-align: left;
}

.Landing__18__ReqTxt h4{
  font-size: 32px;
  line-height: 48px;
  color:#FA3B61;
  padding-bottom: 18px;
  font-weight: 900;
}

.Landing__18__ReqTxt ul li p{
 display: inline;
}

.Landing__18__ReqTxt ul li img{
  width: 20px;
  margin-right: 15px;
}

.Landing__18__ReqTxt ul li {
  margin-bottom: 30px;
}

.Landing__18__Rel1{
  position: relative;
}

.Landing__18__Abs1{
  position: absolute;
  left: 0;
  bottom: -200px;
}

.Landing__18__Abs2{
  position: absolute;
  right: 100px;
  bottom: -50px;
}

    /* ================================================================================================
            Card
  ===================================================================================================*/

  .Landing__18__Card {
   background-color: #1D4696;
   padding: 85px 50px;
   outline: 1px dashed #4E82E8;
   outline-offset: -18px;
   position: relative;
   margin-bottom: 30px;
   margin-right: 5px; 
  }

  .Landing__18__Card:hover {
   background-color: #FA3B61;
  }


.Landing__18__Card h3{
    font-size: 32px;
    line-height: 42px;
    color:#FFFFFF;
}

.Landing__18__Card p{
    color:#FFFFFF;
    padding-top: 16px;
}

.Landing__18__CardAbs1{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
}

.Landing__18 .Landing__18__CardH2{
  padding-bottom: 46px;
}


  /* ================================================================================================
             Circle
  ===================================================================================================*/

  .Landing__18__CircleDiv{
      position: relative;
      display:flex ;
      justify-content: center;
      align-items: center;
      margin-top: 500px;
      margin-bottom: 500px;
  }

  .Landing__18__CircleDiv h4{
    font-size: 28px;
    line-height: 36px;
    color:#FFFFFF;
    text-align: center;
  }

.Landing__18__CircleImg1{
    position: absolute;
    width: 72%;
}

.Landing__18__CircleImg2{
  position: absolute;
  margin-top: -100px;
  width: 26%;
}

.Landing__18__CircleTxt1{
    position: absolute;
    top:-230px;
    left:260px;
}

.Landing__18__CircleTxt2{
    position: absolute;
    top:-440px;
    left:590px;
}

.Landing__18__CircleTxt3{
    position: absolute;
    top:-230px;
    right:240px;
}

.Landing__18__CircleTxt4{
    position: absolute;
    bottom:-230px;
    right:270px;
}

.Landing__18__CircleTxt5{
    position: absolute;
    bottom:-422px;
}


.Landing__18__CircleTxt6{
    position: absolute;
    bottom:-240px;
    left:290px;
}



  /* ================================================================================================
             OrderTem-1
  ===================================================================================================*/
 
  .Landing__18 .Landing__18__Order2 {
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  }

  .Landing__18 .Landing__18__Order2 img{
    height: 525px;

  }

  .Landing__18__Order2Abs{
      position: absolute;
      text-align: center;
  }

  .Landing__18__Order2Abs h4{
      font-size: 51px;
      line-height: 69px;
      color:#1D4696;
      font-weight: 900;
  }

  .Landing__18__Order2Abs h5{
      font-size: 32px;
      line-height: 42px;
      color:#1D4696;
      margin: 30px 0px;

  }


    /* ================================================================================================
            Slider
    ===================================================================================================*/

.Landing__18__SliderSec{
  background-image: url('../../public/images/landing-18/bg2.png');
  padding:  72px 0px 65px 0px;
}

.Landing__18__Slider_CardDiv{
  position: relative;
  text-align: center;
  background-color:#1D4696;
  padding: 24px;
}

.Landing__18__Slider_CardDivImg{
  width: 100%;
}

.Landing__18__Slider_CardDiv h4{
  font-size: 32px;
  line-height: 42px;
  color:#FFF;
  padding: 70px 0px 56px 0px;
}

.Landing__18__SliderAbs1{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 28%;
}
.Landing__18__SliderAbs2{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28%;
}

.Landing__18__SliderImgL{
    margin-top: 70px;
}


.Landing__18__SliderIconDiv{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.Landing__18__SliderIconDiv2{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 28px 20px ;
  background-color: #fff;
  margin-top: -50px;
  border-radius: 100px;
  margin-right: -50px;

}

.Landing__18__SliderIcon1{
  background: none;
  font-size: 28px;
  color:#1D4696;
  margin-right: 10px !important;
}

.Landing__18__SliderIcon2{
  background: none;
  font-size: 28px;
  color:#1D4696;
}

  /* ================================================================================================
            Plasce In Order
  ===================================================================================================*/
  
  .Landing__18 #OrderConfirmLeft #Payment #ArrowBg {
    background:#1D4696;
  }
  
  .Landing__18 #OrderConfirmRight button {
    background: #1D4696;
  }
  
  .Landing__18 #OrderConfirmLeft #Payment #ArrowBg p {
    color: #ffffff;
  }
  
  .Landing__18 #OrderConfirmLeft #Payment #ArrowBg::after {
    border-bottom: solid 15px #1D4696;
  }
  
  .Landing__18 #OrderConfirmLeft #Payment #CustomeInput input:checked+label:before {
    background: #1D4696;
  }

  .Landing__18 #OrderConfirmLeft #Payment #CustomeInput input:checked+label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 12px;
}

.Landing__18 #OrderConfirmLeft #Payment #ArrowBg p {
  font-size: 18px;
}

.Landing__18 #OrderConfirmLeft #Payment #ArrowBg {
  padding: 10px 30px;
  border-radius: 0 0 10px 10px;
}

/* ================================================================================================
             Order 3
  ===================================================================================================*/
  
  .Landing__18 .Landing__18__Order3 {
    display:flex ;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: -200px;
  }

  .Landing__18 .Landing__18__Order3 img{
    height: 525px;

  }

  .Landing__18__Order3Abs{
      position: absolute;
      text-align: center;
  }

  .Landing__18__Order3Abs h4{
      font-size: 51px;
      line-height: 69px;
      color:#FFFFFF;
      font-weight: 900;
  }

  .Landing__18__Order3Abs h5{
      font-size: 32px;
      line-height: 42px;
      color:#FFFFFF;
      margin: 30px 0px;

  }


  /* ================================================================================================
            Footer
  ===================================================================================================*/
    .Landing__18__FooterDiv{
      background-image: url('../../public/images/landing-18/bg3.png');
      padding: 200px 0px 50px 0px;
      background-size: cover;
    }



    .Landing__18__FooterBgRow_Div{
      padding: 0px 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius:  50px 0px 50px 0px;
  }
  
  .Landing__18__FooterBgRow_Div h4{
      color:#000000;;
      font-size: 24px;
      line-height: 32px;
     
  }
  
  .Landing__18__FooterBgRow_Div h3{
      color:#FFFFFF;
      font-size: 30px;
      line-height: 42px;
      padding-top: 10px;
  }
  
  .Landing__18__FooterBgRow_Div a{
      color:#FA3B61;
      font-size: 18px;
      line-height: 32px;
  }
  
   .Landing__18__FooterHr{
      border-bottom: 1px solid #ffffff;
      background-color: #000;
      width: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  
  .Landing__18 .Landing__18__FooterH3 {
    color: #f8406f;
  }
  
  .Landing__18_socialMidia{
    padding-top: 121px;
  }
  
  /* Tiney Footer */
  
  .Landing__18 #tinyFooter p {
    line-height: 40px;
    text-align: center;
    color:#FFF;
    font-size: 18px;
  }
  
  .Landing__18 #tinyFooter p a {
    display: inline;
    font-size: 20px;
    font-weight: 600;
    color: #f8406f;
    padding: 0 5px;
  }

  .Landing__18__Abs3{
    position: absolute;
    left: 100px;
    bottom: 100px;
  }

  .Landing__18__Abs3{
    animation: Ibrahim54hgf 2s linear infinite alternate  ;
  }
  
  @keyframes Ibrahim54hgf {
    0% {transform: translateX(0px);}
   100%{transform: translateX(30px);;}
  } 

  .Landing__18__Abs4{
    animation: Ibrahimhtf6 2s linear infinite alternate  ;
  }
  
  @keyframes Ibrahimhtf6 {
    0% {transform: translateX(0px);}
   100%{transform: translateX(-30px);;}
  } 



  .Landing__18__Abs4{
    position: absolute;
   right: 100px;
    bottom: 100px;
  }
    /* ================================================================================================
            Media Quary
  ===================================================================================================*/

 
  @media (max-width: 1650px) {

  .Landing__18 h1 {
    font-size: 40px;
    line-height: 56px;
    color: #1d4696;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 22px;
}

  .Landing__18__BannerTxt h4 {
    font-size: 20px;
    color: #1D4696;
}

.Landing__18__BannerTxt h3 {
  font-size: 40px;
  line-height: 52px;
  color: #FA3B61;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Landing__18__bg_div {
  padding: 50px 0px 211px 0px;
  background-size: cover;
}

.Landing__18__img2BagAbs {
  position: absolute;
  top: 97px;
  left: 100px;
  width: 97%;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 418px;
  width: 33%;
  z-index: 2;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 478px;
  width: 30%;
  z-index: 2;
}

  }
  

   @media (max-width: 1400px) {
  
    .Landing__18 h1 {
      font-size: 38px;
      line-height: 52px;
      color: #1D4696;
      font-weight: 900;
      padding-top: 40px;
      padding-bottom: 22px;
  }
  
    .Landing__18 h2 {
      font-size: 35px;
      line-height: 42px;
  }

  .Landing__18__BannerTxt h4 {
    font-size: 20px;
    color: #1D4696;
}

.Landing__18__BannerTxt h3 {
  font-size: 40px;
  line-height: 52px;
  color: #FA3B61;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 25px;
}

.Landing__18__bg_div {
  padding: 50px 0px 142px 0px;
  background-size: cover;
}

.Landing__18__img2BagAbs {
  position: absolute;
  top: 97px;
  left: 100px;
  width: 97%;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 418px;
  width: 33%;
  z-index: 2;
}

.Landing__18__ImgAbsR1 {
  position: absolute;
  width: 128%;
  left: -134px;
  top: -100px;
}

.Landing__18__ImgAbsR2 {
  position: absolute;
  width: 65%;
  left: -30px;
  top: 98px;
}

/* Circle--- */
.Landing__18__CircleImg1{
  position: absolute;
  width: 72%;
}

.Landing__18__CircleImg2{
position: absolute;
margin-top: -100px;
width: 26%;
}

.Landing__18__CircleTxt1{
  position: absolute;
  top:-220px;
  left:228px;
}

.Landing__18__CircleTxt2{
  position: absolute;
  top:-408px;
  left:500px;
}

.Landing__18__CircleTxt3{
  position: absolute;
  top:-223px;
  right:198px;
}

.Landing__18__CircleTxt4{
  position: absolute;
  bottom:-220px;
  right:231px;
}

.Landing__18__CircleTxt5{
  position: absolute;
  bottom:-373px;
}


.Landing__18__CircleTxt6{
  position: absolute;
  bottom:-222px;
  left:259px;
}

.Landing__18 .Landing__18__Order2 img {
  height: 451px;
}

.Landing__18__Order2Abs h4 {
  font-size: 44px;
  line-height: 46px;

}

.Landing__18__Order3Abs h4 {
  font-size: 44px;
  line-height: 48px;
  color: #FFFFFF;
  font-weight: 900;
}

.Landing__18__CircleDiv h4 {
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  text-align: center;
}

  }
  
  
  @media (max-width: 1200px) {
    .Landing__18 h1 {
      font-size: 36px;
      line-height: 45px;
  }
  .Landing__18__BannerTxt h3 {
    font-size: 35px;
    line-height: 42px;
}

.Landing__18 a.bg {
  padding: 16px 36px;
  font-size: 20px;
}

.Landing__18__BannerTxt h5 {
  font-size: 24px;
  color: #1D4696;
}

.Landing__18__AbsB_Box img {
  margin-right: 20px;
  width: 31px;
}

.Landing__18__AbsB_Box {
  top: -65px;
  left: 259px;
  padding: 16px 20px;
  border-radius: 10px;
}

.Landing__18__img2BagAbs {
  position: absolute;
  top: 97px;
  left: 39px;
  width: 97%;
}

.Landing__18__img1DisAbs {
  position: absolute;
  top: -148px;
  left: 324px;
  width: 33%;
  z-index: 2;
}

.Landing__18__ImgAbsR1 {
  width: 128%;
  left: -84px;
  top: -100px;
}
  
.Landing__18__ImgAbsR2 {
  width: 65%;
  left: 13px;
  top: 59px;
}

.Landing__18__Abs2 {
  right: 100px;
  bottom: -50px;
  width: 100px;
}

.Landing__18__Abs1 {
  width: 100px;
  bottom: -99px;
}

/* circle-- */

.Landing__18__CircleDiv h4 {
  font-size: 24px;
  line-height: 30px;
}

.Landing__18__CircleImg1{
  position: absolute;
  width: 72%;
}

.Landing__18__CircleImg2{
position: absolute;
margin-top: -100px;
width: 26%;
}

.Landing__18__CircleTxt1{
  position: absolute;
  top:-187px;
  left:192px;
}

.Landing__18__CircleTxt2{
  position: absolute;
  top:-344px;
  left:420px;
}

.Landing__18__CircleTxt3{
  position: absolute;
  top:-188px;
  right:156px;
}

.Landing__18__CircleTxt4{
  position: absolute;
  bottom:-185px;
  right:197px;
}

.Landing__18__CircleTxt5{
  position: absolute;
  bottom:-316px;
}


.Landing__18__CircleTxt6{
  position: absolute;
  bottom:-182px;
  left:210px;
}

.Landing__18__CircleImg2 {
  position: absolute;
  margin-top: -100px;
  width: 23%;
}

.Landing__18__Order2Abs h4 {
  font-size: 40px;
  line-height: 14px;
}

.Landing__18 .Landing__18__Order2 img {
  height: 360px;
}

.Landing__18__Slider_CardDiv h4 {
  font-size: 24px;
  line-height: 29px;
  color: #FFF;
  padding: 70px 0px 56px 0px;
}

.Landing__18__SliderIconDiv2 {
  margin-right: -4px;
  margin-top: -56px;
}

.Landing__18__Order3Abs h4 {
  font-size: 40px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: 900;
}

.Landing__18 .Landing__18__Order3 img {
  height: 449px;
}

.Landing__18__CircleDiv {
  margin-top: 360px;
  margin-bottom: 380px;
}

.Landing__18__bg_div {
  background-position: -180px;
}


  }
  
  @media (max-width: 991px) {
  
    .Landing__18 h1 {
      font-size: 28px;
      line-height: 37px;
  }

  .Landing__18__img1DisAbs {
    position: absolute;
    top: -148px;
    left: 237px;
}

.Landing__18__ImgAbsR2 {
  width: 65%;
  left: -3px;
  top: 21px;
}

.Landing__18 h2 {
  font-size: 27px;
  line-height: 36px;
}

.Landing__18__ReqTxt h4 {
  font-size: 28px;
  line-height: 38px;
}

.Landing__18__CircleImg1 {
  position: absolute;
  width: 95%;
}

.Landing__18__CircleTxt1 {
  top: -187px;
  left: 75px;
}

.Landing__18__CircleTxt2 {
  top: -344px;
  left: 292px;
}

.Landing__18__CircleTxt3 {
  top: -188px;
  right: 53px;
}
  
.Landing__18__CircleTxt4 {
  bottom: -185px;
  right: 80px;
}



.Landing__18__CircleTxt6 {
  bottom: -182px;
  left: 89px;
}

.Landing__18__FooterBgRow_Div {
  margin-top: 100px;
  padding: 0px 0px;
  display: block;
  text-align: center;

}


  }
  
  
  @media (max-width: 767px) {
  
    .Landing__18__Reverce{
      flex-direction: column-reverse;
    }

    .Landing__18__BannerTxt{
      margin-top: 400px;
    }
  
    .Landing__18__ImgAbsR1 {
      width: 108%;
      left: -48px;
      top: -112px;
  }

  .Landing__18__ImgAbsR2 {
    width: 56%;
    left: 58px;
    top: 73px;
}

.Landing__18__ReqTxt{
    margin-top: 450px;
}

.Landing__18__BannerTxt {
  text-align: center;
}

.Landing__18__AbsB_Box {
  top: 17px;
  left: 141px;
  padding: 16px 20px;
  border-radius: 10px;
}

.Landing__18__bg_div {
  padding: 50px 0px 230px 0px;
  background-size: cover;
}

.Landing__18 h2 {
  font-size: 27px;
  line-height: 36px;
  text-align: center;
}

.Landing__18__Card h3 {
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;
}

.Landing__18__CircleDiv {
  margin-top: 215px;
  margin-bottom: 250px;
}

.Landing__18 .Landing__18__Order2 img {
  height: 293px;
}

.Landing__18__CircleImg1 {
  position: absolute;
  width: 95%;
  display: none;
}

.Landing__18__CircleDiv h4 {
  font-size: 24px;
  line-height: 30px;

}

.Landing__18__CircleTxt1 {
  top: -287px;
  left: 75px;
  background: #1D4696;
  padding: 50px !important;
  border-radius: 100px;
}

.Landing__18__CircleTxt2 {
  display: none;
}

.Landing__18__CircleTxt3 {
  top: 46px;
  right: 277px;
  background: #1D4696;
  padding: 50px !important;
  border-radius: 100px;
}
  
.Landing__18__CircleTxt4 {
  bottom: -212px;
  right: 29px;
  background: #1D4696;
  padding: 50px !important;
  border-radius: 100px;
}

.Landing__18__CircleTxt5 {
  display: none;
}

.Landing__18__CircleTxt6 {
  bottom: 125px;
  left: 303px;
  background: #1D4696;
  padding: 50px !important;
  border-radius: 100px;
}


  }
  
  
  @media (max-width: 575px) {
  
    .Landing__18__BannerTxt {
      margin-top: 390px;
  }
     
  .Landing__18 h1 {
    font-size: 24px;
    line-height: 30px;
}

.Landing__18__BannerTxt h4 {
  font-size: 18px;
  color: #1D4696;
}

.Landing__18__BannerTxt h3 {
  font-size: 28px;
  line-height: 37px;
}

.Landing__18 a.bg {
  padding: 12px 36px;
  font-size: 18px;
}

.Landing__18 a.bg svg {
  font-size: 24px;
  margin-top: -5px;
  margin-right: 10px;
}

.Landing__18__BannerTxt h5 {
  font-size: 20px;
  color: #1D4696;
}

.Landing__18__AbsB_Box img {
  margin-right: 20px;
  width: 25px;
}

.Landing__18__AbsB_Box {
  top: 17px;
  left: 106px;
}

.Landing__18__ImgAbsR1 {
  width: 108%;
  left: -33px;
  top: -112px;
}

.Landing__18__ImgAbsR2 {
  width: 56%;
  left: 58px;
  top: 40px;
}

.Landing__18__ReqTxt {
  margin-top: 400px;
  text-align: center;
}

.Landing__18__Card h3 {
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}

.Landing__18 p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.Landing__18__Card {
  text-align: center;
}

.Landing__18__CircleTxt1 {
  top: -287px;
  left: 34px;
}

.Landing__18__CircleTxt6 {
  bottom: 125px;
  left: 258px;
}

.Landing__18__CircleTxt3 {
  top: 46px;
  right: 225px;
}

.Landing__18 .Landing__18__Order2 img {
  height: 245px;
}

.Landing__18__Order2Abs h4 {
  font-size: 28px;
  line-height: 0px;
}

.Landing__18__Order2Abs h5 {
  font-size: 22px;
  line-height: 19px;
  color: #1D4696;
  margin: 30px 0px;
}

.Landing__18__SliderIcon2 {
  background: none;
  font-size: 24px;
  color: #1D4696;
}

.Landing__18__SliderIcon1 {
  background: none;
  font-size: 24px;
  color: #1D4696;
}
.Landing__18__SliderIcon2 {
  background: none;
  font-size: 24px;
  color: #1D4696;
}

.Landing__18__SliderIconDiv2 {
  padding: 20px 11px;
}

.Landing__18 .Landing__18__Order3 img {
  height: 312px;
}

.Landing__18__Order3Abs h4 {
  font-size: 28px;
  line-height: 27px;
  color: #FFFFFF;
  font-weight: 900;
}

.Landing__18__Order3Abs h5 {
  font-size: 22px;
  line-height: 11px;
  color: #FFFFFF;
  margin: 30px 0px;
}

.Landing__18__FooterBgRow_Div h4 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 88px;
}

.Landing__18__img2BagAbs {
  position: absolute;
  top: 97px;
  left: 20px;
  width: 97%;
}

.Landing__18__Slider_CardDiv h4 {
  font-size: 18px;
  line-height: 20px;
  color: #FFF;
  padding: 24px 0px 56px 0px;
}

  }


@media (max-width: 450px) {

    .Landing__18__BannerTxt {
      margin-top: 309px;
    }
     
    .Landing__18__AbsB_Box {
      top: 17px;
      left: 74px;
  }

  .Landing__18__ImgAbsR2 {
    width: 56%;
    left: 51px;
    top: 18px;
}

.Landing__18__ReqTxt {
  margin-top: 341px;
  text-align: center;
}

.Landing__18__CircleDiv h4 {
  font-size: 18px;
  line-height: 30px;
}

.Landing__18__CircleTxt1 {
  background: #1D4696;
  padding: 30px !important;
  border-radius: 100px;
}

.Landing__18__CircleTxt6 {
  bottom: 167px;
  left: 219px;
  padding: 30px !important;
}

.Landing__18__CircleTxt3 {
  top: 46px;
  right: 204px;
  padding: 30px !important;
}

.Landing__18__CircleTxt4 {
  bottom: -171px;
  right: 29px;
  background: #1D4696;
  padding: 30px !important;
  border-radius: 100px;
}

.Landing__18__CircleImg2 {
  position: absolute;
  margin-top: -137px;
  width: 40%;
}

.Landing__18__CircleDiv {
  margin-top: 215px;
  margin-bottom: 153px;
}

.Landing__18 .Landing__18__Order2 img {
  height: 217px;
}

.Landing__18__FooterBgRow_Div h4 {
  font-size: 18px;
  line-height: 32px;
  margin-top: 88px;
}

.Landing__18__FooterBgRow_Div h3 {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 22px;
  padding-top: 10px;
}

      }



